/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* Exclude static-navbar from animations */
::view-transition-old(root) .static-navbar,
::view-transition-new(root) .static-navbar {
  animation: none;
}


/* src/styles.css */

body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

body::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb invisible */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track invisible */
}
